<h1>About Laura</h1>
<div class="row">
  <div class="col-md-4">
    <h2>Carousel in Paris</h2>
    <p>The sunset was beutiful on the evening we arrived! </p>
  <img src="/images/1.JPG" height="500" class="img-rounded img-responsive">
  </div>
  <div class="col-md-4">
    <h2>Palace of Versailles</h2>
    <p>I love the architecture here.</p>
    <img src="/images/2.JPG" class="img-rounded img-responsive">
  </div>
  <div class="col-md-4">
    <h2>Lock bridge in Paris</h2>
    <p>Had to stop by and see this!</p>
    <img src="/images/3.JPG" class="img-round img-responsive">
  </div>
</div>
