<h1>Contact</h1>
<p>If you need to contact me, email me at: laura.artiles@yahoo.com</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.0434854359364!2d-0.13295179999998943!3d51.51241819999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d308684c71%3A0x927aaf4ce554ef3a!2s52+Wardour+St%2C+Soho%2C+London+W1D+6QU!5e0!3m2!1sen!2suk!4v1427543700274" width="600" height="450" frameborder="0" style="border:0"></iframe>
