<div class="row">
  <div class="col-md-12">
    <h1>My Favorites</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Food Cuisines</h2>
    <ol>
      <li>Japanese</li>
      <li>French</li>
      <li>Italian</li>
      <li>Thai</li>
      <li>Spanish</li>
    </ol>

<h2>Sports</h2>
<ul>
  <li>Football</li>
  <li>Tennis</li>
  <li>Running</li>
  <li>Kickboxing</li>
  <li>Yoga</li>
</ul>