<h1>Welcome to Laura's Website!</h1>
<p>Have a look around and make yourself at home. </p>


<a href="http://www.facebook.com"> Facebook</a>
<p>Facebook connects people with friends and others who work, study and live around them.</p>

<a href="http://somedayiwant.com"> SomedayIWant </a>
<p>Someday I Want lets you share your dreams, aspiration, goals and bucket list with everyone.</p>

<a href="http://www.codercourse.com"> CoderCourse </a>
<p>Codercourse empowers aspiring developers to learn, code and create powerful apps.</p>
